{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}

<form action="/users/{{id}}/edit" method="POST">
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name">
    </div>
    <div>
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name">
    </div>
    <div>
    <label for="image_url">Image URL</label>
    <input type="url" class="form-control" id="image_url" placeholder="Enter image URL" name="image_url">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<form class="form-inline" action="/users/{{user_id}}">
    <button type="submit" class="btn btn-danger">Cancel</button>
</form>



{% endblock %}