{% extends 'base.html' %}

{% block title %} Post Detail {% endblock %}

{% block content %}

<h2>{{ post.title }}</h2>

<p>{{post.content }}</p>

<h5>By {{ post.user.get_full_name() }}</h5>

<ul>
    {% for tag in assigments %}
    <li><a href="/tags/{{ tag.tags.id }}">{{ tag.tags.name }} </a></li>
    {% endfor %}
</ul>



<form action="/users/{{ post.user.id }}">
    <button type="submit" class="btn btn-warning">Cancel</button>
</form>
<form action="/posts/{{ post.id }}/edit">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<form action="/posts/{{ post.id }}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>


{% endblock %}