{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<br>
<h1> {{ user.get_full_name() }}</h1>
<div>
<img src= "{{ image_url }}" height="220" width="220" class="mt-2">
</div>
<br>


<div class="btn-group" role="group">
<form class="form-inline edit-page m-1" action="/users/{{ id }}/edit">
        <button type="submit" class="btn btn-primary">Edit User</button>
</form>
<form class="form-inline delete-page m-1" action="/users/{{ id }}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete User</button>
</form>
</div>
<br>
<br>

<h3>Posts</h3>
<ul>
    {% for post in posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }} </a></li>
    {% endfor %}
</ul>

<form action="/users/{{ user.id }}/posts/new">
    <button type="submit" class="btn btn-primary">Add Post</button>
</form>
{% endblock %}
